In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("DOWdata.csv")

In [2]:
data

,,,,Year,Average,Closing Price,Year Open,Year High,Year Low,Year Close,Annual
2020,25.00,693.43,28.00,868.80,29.00,551.42,18,591.93,26.0,828.47,-5.99%
2019,26.00,379.55,23.00,346.24,28.00,645.26,22,686.22,28.0,538.44,22.34%
2018,25.00,46.86,24.00,824.01,26.00,828.39,21,792.20,23.0,327.46,-5.63%
2017,21.00,750.20,19.00,881.76,24.00,837.51,19,732.40,24.0,719.22,25.08%
2016,17.00,927.11,17.00,148.94,19.00,974.62,15,660.18,19.0,762.60,13.42%
...,...,...,...,...,...,...,...,...,...,...,...
1919,99.79,82.60,119.62,79.35,107.23,30.45%,NaN,NaN,NaN,NaN,NaN
1918,80.97,76.68,89.07,73.38,82.20,10.51%,NaN,NaN,NaN,NaN,NaN
1917,87.87,96.15,99.18,65.95,74.38,-21.71%,NaN,NaN,NaN,NaN,NaN
1916,95.27,98.81,110.15,86.42,95.00,-4.19%,NaN,NaN,NaN,NaN,NaN
1915,74.45,54.63,99.21,54.22,99.15,81.49%,NaN,NaN,NaN,NaN,NaN

In [3]:
data.describe()

             Year     Average   Year Low  Year Close
count  106.000000  106.000000  38.000000   38.000000
mean   354.870000  257.038585   9.684211  514.631316
std    293.947156  313.549055   7.418404  267.064449
min      0.170000    1.000000   1.000000   21.570000
25%     97.270000   12.250000   3.000000  273.892500
50%    218.930000  115.180000  10.000000  517.780000
75%    610.542500  427.865000  12.750000  760.472500
max    965.000000  969.260000  28.000000  938.830000